@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque');

html,
body {
    margin: 0;
}

/* Global CSS styles */
canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}


h1,
h2,
h3,
h4,
h5 {
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Darker Grotesk', sans-serif;
    font-weight: 900;
    padding: 5px;
    font-size: 4rem;
    text-shadow: 2 2 5rem rgb(0, 0, 0);
    font-weight: bolder;
    color: white;
}

h2 {
    font-family: 'Darker Grotesk', sans-serif;
    font-weight: 800;
    padding: 5px;
    font-size: 2rem;
    text-shadow: 2 2 5rem rgb(0, 0, 0);
    font-weight: bolder;
    color: white;
}


h3,
h4,
h5 {
    padding: 2px;
    color: rgb(68, 68, 68);
}

h4 {
    padding: 2px;
    font-size: 0.7rem;
}

p {
    font-family: sans-serif;
    color: #CACFD2;
    padding: 2px;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    color: white;
}


hr {
    /* width: 70%;  */
    border: 0;
    border-top: 1px solid #ccc;
}

/* ---- INTRO CSS ------ */
#intro {
    margin-top: 5%;
}


/* Container for terminal */
#container {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    perspective: 300px;
}


/* Terminal content */
#terminal {
    transition: transform 0.5s;
    height: 60vh;
    width: 60vw;
    max-height: 600px;
    max-width: 1200px;
    background: rgb(31, 31, 31);
    border: 1px solid #252525;
    border-radius: 0.5rem;
    box-shadow: 4 4 2rem rgba(0, 0, 0, 0.685);
    overflow: auto;
}


/* Space bar */
#window-bar {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #252525;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

#window-bar-buttons {
    width: 10%;
    height: 2rem;
    border-bottom: 1px solid #252525;
    flex-direction: row;
    display: block;
    justify-content: left;
}

#window-bar-title {
    width: 90%;
    height: 2rem;
    border-bottom: 1px solid #252525;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#window-buttons {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}


/* Window close, maximize and minimize */
.btn {
    height: 0.8rem;
    width: 0.8rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


.close {
    background-color: #ff3b30;
}

.minimize {
    background-color: #ffcc00;
}

.maximize {
    background-color: #28cd41
}

.title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    color: #ddd;
    margin-right: 21rem;
    padding-top: 0.4rem;
}


#terminal-content {
    padding: 1rem;
}

#terminal-content span {
    display: block;
}

.home {
    color: rgb(87, 235, 46);
}

.content {
    color: #A9DFBF;
}

.team {
    color: rgb(241, 241, 241);
}

.key {
    color: rgb(45, 211, 223);
}

.job {
    color: rgb(154, 169, 255);
}

a:hover {
    color: red;
}

a {
    color: rgb(45, 211, 223);
}

.blinking-cursor {
    font-weight: 100;
    font-size: 25px;
    color: white;
    animation: 0.8s blink step-end infinite;
    -webkit-animation: 0.8s blink step-end infinite;
}


@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

#footer {
    position: fixed;
    bottom: 3rem;
    text-align: center;
    font-family: 'Nixie One', sans-serif;
    color: #CACFD2;
    font-size: 0.7rem;
}

.center {
    left: 50%;
    transform: translate(-50%, 0);
}

.fade-in {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.zoom-terminal {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom-name {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom-role {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom-terminal:hover {
    transform: scale(1.02);
}

.zoom-name:hover {
    transform: scale(1.1);
}

.zoom-rol:hover {
    transform: scale(1.03);
}